/* CSS reset*/
* {margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body { 
	/*background-color: skyblue;*/
/*background-image: url("../images/bg.jpg");*/
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 193, 255, 0.45)),url("../images/bg.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
color : #f2f2f2;
}
h1 {
	font-size: 50px;
	background-color: rgba(51,51,51, 0.5);
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 3px;
	font-family: 'Hepta Slab', serif;
	border-color: rgba(243, 255, 0, 0.5);
	border-style: solid;
	border-radius: 10px;
}
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	margin: 10px; /*margin creates space outside the element*/
	padding: 10px; /*adds space inside the element*/
	border-radius: 10px;

}/*end of h2 styling*/

.bio {
	font-family: 'Chilanka', cursive;
	font-size: 18px;
	background-color: rgba(51,51,51, 0.5);
	line-height: 1.75;

} /*ends bio styling*/

/*targets element with me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 70%;
	border-color: rgba(243, 255, 0,0.5);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}
.container {
	width: 500px;
	text-align: center;
	margin:0 auto;
}